<div class="searchdiv">
<app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
<a class="admin-div" routerLinkActive="active" [routerLink]="['/catalog/admin']"><br>Admin options</a>
</div>
<ng-container *ngIf="searchText===''; else some">
<div *ngFor="let b of allBooks">
        <div class="card">
            <img src="{{b.coverImageFile}}">
            <h5>{{b.title}}</h5>
            <h6>{{b.author}}</h6>
            <div class="details" [ngStyle]="{color: b.isAvailable===true ? 'Green' : 'Red'}">{{b.isAvailable==true ? 'Available' : 'Not available'}}</div>
            <div class="details" [ngStyle]="{color: b.isPremium===true ? 'Orange' : 'Black'}">{{b.isPremium==true ? 'Premium' : 'Standard'}}</div>
            <p><button class="btn wish">Add to Wishlist </button></p>
            <p><button class="btn show-det" routerLink="/catalog/books/{{b.id}}"> Show Details</button></p>
            <p><button class="btn btn-success" style="background-color: #1d6f58;" *ngIf="b.isAvailable===true; else notifyme" (click)="onAddToCart(currentUser, b.id)"> Borrow</button></p>
            <ng-template #notifyme>
                <button class="btn btn-danger" (click)="onAddToCart(currentUser, b.id)">Borrow</button>
            </ng-template>
        </div>  
</div>
</ng-container>

<ng-template #some>
    <div *ngFor="let b of someBooks">
        <div class="card">
            <img [src]="b.coverImageFile">
            <h5>{{b.title}}</h5>
            <h6>{{b.author}}</h6>
            <div class="details" [ngStyle]="{color: b.isAvailable===true ? 'Green' : 'Red'}">{{b.isAvailable==true ? 'Available' : 'Not available'}}</div>
            <div class="details" [ngStyle]="{color: b.isPremium===true ? 'Orange' : 'Black'}">{{b.isPremium==true ? 'Premium' : 'Standard'}}</div>
            <p><button class="btn wish">Add to Wishlist </button></p>
            <p><button class="btn show-det" routerLink="/catalog/books/{{b.id}}"> Show Details</button></p>
            <p><button class="btn btn-success" style="background-color: #1d6f58;" *ngIf="b.isAvailable===true; else notifyme" (click)="onAddToCart(currentUser, b.id)"> Borrow</button></p>
            <ng-template #notifyme>
                <button class="btn btn-danger">Borrow</button>
            </ng-template>
        </div>  
</div>
</ng-template>