<div class="cont">

<div *ngIf = "appState$ | async as appState">
    <div *ngIf= "appState.isEmpty() || appState.roles==='Administrator'; else rec">
<div *ngFor="let b of newBooks; let i = index">
    <!-- <p>{{i}}</p> -->
    <div class="book-container" [ngStyle]="{backgroundColor: b.isAvailable===true ? '#D5F5E3' : '#FADBD8'}">
        <div class="image-container"><img [src]="b.coverImageFile" alt="" style="max-height: 50px; max-width: 50px;"></div>
        <div>
            <div class="title-container"><h6>{{b.title}}</h6></div>
            <div class="detail-container">
                <div class="details">{{b.author}}</div>
                <div class="details" [ngStyle]="{color: b.isAvailable===true ? 'Green' : 'Red'}">{{b.isAvailable==true ? 'Available' : 'Not available'}}</div>
                <div class="details" [ngStyle]="{color: b.isPremium===true ? 'Orange' : 'Black'}">{{b.isPremium==true ? 'Premium' : 'Standard'}}</div>
            </div>
        </div>
        <div class="options">
            <button class="btn" style="background-color: rgb(249, 195, 95); color: white;" routerLink="/catalog/books/{{b.id}}"> Show Details</button>
        </div>
    </div>
</div>

    </div>

    <ng-template #rec>

    <p *ngIf="empty" style="color: red">No recommendations!<br> Add some books to your wishlist. </p>
<div *ngFor="let b of recommendedBooks">
    <div class="book-container" [ngStyle]="{backgroundColor: b.isAvailable===true ? '#D5F5E3' : '#FADBD8'}">
        <div class="image-container"><img [src]="b.coverImageFile" alt="" style="max-height: 50px; max-width: 50px;"></div>
        <div>
            <div class="title-container"><h6>{{b.bookTitle}}</h6></div>
            <div class="detail-container">
                <div class="details">{{b.author}}</div>
                <div class="details">{{b.genre}}</div>
                <div class="details" [ngStyle]="{color: b.isPremium===true ? 'Orange' : 'Black'}">{{b.isPremium==true ? 'Premium' : 'Standard'}}</div>
            </div>
        </div>
        <div class="options">
            <button class="btn" style="background-color: rgb(249, 195, 95); color: white;" routerLink="/catalog/books/{{b.bookId}}"> Show Details</button>
        </div>
    </div>
</div>

    </ng-template>
</div>


</div>