<div *ngFor="let b of newBooks; let i = index">
    <!-- <p>{{i}}</p> -->
    <div class="book-container" [ngStyle]="{backgroundColor: b.isAvailable===true ? '#D5F5E3' : '#FADBD8'}">
        <div class="image-container"><img [src]="b.coverImageFile" alt="" style="max-height: 50px; max-width: 50px;"></div>
        <div>
            <div class="title-container"><h6>{{b.title}}</h6></div>
            <div class="detail-container">
                <div class="details">{{b.author}}</div>
                <div class="details" [ngStyle]="{color: b.isAvailable===true ? 'Green' : 'Red'}">{{b.isAvailable==true ? 'Available' : 'Not available'}}</div>
                <div class="details" [ngStyle]="{color: b.isPremium===true ? 'Orange' : 'Black'}">{{b.isPremium==true ? 'Premium' : 'Standard'}}</div>
            </div>
        </div>
        <div class="options">
            <button class="btn" style="background-color: rgb(249, 195, 95); color: white; margin-top: 15px;" routerLink="/catalog/books/{{b.id}}"> Show Details</button>
           <!--
            <button style="background-color: #1d6f58; color:white;" class="btn" *ngIf="b.isAvailable===true; else notifyme">Borrow</button>
            <ng-template #notifyme>
                <button class="btn btn-danger">Borrow</button>
            </ng-template> -->
        </div>
    </div>
</div>