<div class="history-container">
    <div *ngFor="let order of orders;">
        <div class="transactions">
            <h3>{{order.orderDate | date: 'medium'}}</h3>
            <div *ngFor="let item of order.orderItems;">
                <table>
                    <tbody>
                        <tr class="transaction-row">
                            <td class="transaction-date">{{item.bookTitle}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="footer">
        </div>
    </div>
</div>
