<div *ngIf="appState$ | async as appState">
  <div *ngIf="!appState.isEmpty()" style="margin-top: 20px; margin-bottom: 20px; margin-left: 20px; margin-right: 600px;">
    <p style="margin-top: 50px; margin-left: 50px; font-family:verdana;" class ="settings-field"> First name: {{ appState.firstName }}</p>
    <p style="margin-top: 50px; margin-left: 50px; font-family:verdana;" class ="settings-field"> Last name: {{ appState.lastName }}</p>
    <p style="margin-top: 50px; margin-left: 50px; font-family:verdana;" class ="settings-field"> Username: {{ appState.userName }}</p>
    <p style="margin-top: 50px; margin-left: 50px; font-family:verdana;" class ="settings-field"> Email: {{ appState.email }}</p>
    <div *ngIf="!appState.isAdmin();">
      <p *ngIf="appState.membershipExpired==='False'; else MembershipExpired" style="margin-top: 50px; margin-left: 50px; font-family:verdana;" class ="settings-field"> Membership paid up to date: {{ appState.membershipPaid}}</p>
      <ng-template #MembershipExpired>
        <p style="margin-top: 50px; margin-left: 50px; font-family:verdana;" class ="settings-field"> Membership expired! </p>
      </ng-template>
      <p style="margin-top: 50px; margin-left: 50px; font-family:verdana;" class ="settings-field"> Pay membership: <button (click)="payMembership(appState.userName)" class="btn btn-secondary buttons"> Here </button> </p>
    </div>
    <div *ngIf="!appState.isEmpty()" class = "row" style = "border-width: 1px; border-top-style: none; border-right-style: none; border-bottom-style: solid; border-left-style: none; margin-left: 50px;" >
      <div class = "col-3"> 
        <p style="margin-top: 50px; font-family:verdana;"> Change password: </p>
      </div>
      <div class = "col-9" style=" font-family:verdana;">
          <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(appState.userName)">
            <div class="form-group" style = "margin-top: 48px; margin-bottom: 10px; margin-right: 300px;">
                <input type="password" formControlName="oldPassword" class="form-control" placeholder="Current password">
            </div>
        
            <div class="form-group" style = "margin-bottom: 10px;  margin-right: 300px;" >
                <input type="password" formControlName="newPassword" class="form-control" placeholder="New Password">
            </div>
        
            <div>
                <button type="submit" class="btn btn-secondary buttons" style = "margin-left: 110px; margin-bottom: 10px;"> Submit </button>
            </div>
          </form>
      </div>
    </div>

    <p style="margin-top: 50px; margin-left: 50px; font-family:verdana; color: rgb(193, 12, 12); border-bottom-color: black;" class ="settings-field"> Delete account: <button (click)="DeleteAccount(appState.userName)" class="btn btn-danger" > Here </button> </p>
  </div>
    
</div>
