.delete-button {
    background-color: rgb(193, 12, 12);
}

.buttons {
    background-color: #04AA6D;
}

.settings-field {
    border-width: 1px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
  }

  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948;
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid crimson;
  }