<div *ngFor="let b of books; let i = index">
    <!-- <p>{{i}}</p> -->
  <div class="cont">
    <div class="card">
            <img [src]="b.CoverImageFile">
            <h5>{{b.Title}}</h5>
            <h6>{{b.Author}}</h6>
            <div class="details" [ngStyle]="{color: b.IsAvailable===true ? 'Green' : 'Red'}">{{b.IsAvailable==true ? 'Available' : 'Not available'}}</div>
            <div class="details" [ngStyle]="{color: b.IsPremium===true ? 'Orange' : 'Black'}">{{b.IsPremium==true ? 'Premium' : 'Standard'}}</div>
            <p><button class="btn wish">Add to Wishlist </button></p>
            <p><button class="btn show-det"> Show Details</button></p>
            <p><button class="btn btn-success" *ngIf="b.IsAvailable===true; else notifyme"> Rent now</button></p>
            <ng-template #notifyme>
                <button class="btn btn-danger">Notify me</button>
            </ng-template>
        </div>  
    </div>
</div>