.site-image{
    float: left;
    background: transparent;
    margin-left: 350px;
    margin-top: 50px;
}

.text {
    float: left;
    font-weight: 300;
    width: 400px;
    color: #04AA6D;
    text-align: center;
    margin-top: 10px;
    font-size: large;
}

.login-button {
    color: white;
    margin-left: 120px;
    margin-top: 1px;
    width: 150px;
}

h2{
    font-size: 35px;
}

.blink {
    animation: blinker 1.7s linear infinite;
}
@keyframes blinker {
    70% {
        opacity: 0;
    }
}