<div class="search-div">
    
    <!-- EVENT BINDING: <input type="text" (input)="changeSearchValue($event)"> -->
    <input type="text" placeholder="Search for a book..." [(ngModel)] = "searchValue" [ngClass]="{changeBackground: searchValue != ''}" (input)="onSearchTextChanged()">
    <!-- <span *ngIf="searchValue !=''">You searched for "{{searchValue}}"</span>  -->
    <button type="submit" class="search-button">
        <img src="./assets/search.png" width="25px" height="25px">
      </button>
</div>