
<head>
  <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <div class="product-img">
      <img *ngIf="book" src="{{book.coverImageFile}}" height="420" width="327">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1 *ngIf="book">{{book.title}}</h1>
        <h2 *ngIf="book">{{book.author}}</h2>
        <p *ngIf="book">
        Genre: {{book.genre}}<br>
        Language: {{book.language}}
        </p>
        <p *ngIf="book" style="font-size: medium;">{{book.description}}</p>
        
      </div>

      <div class="product-price-btn">
        <p *ngIf="book" class="premium" [ngStyle]="{color: book.isPremium===true ? 'Orange' : 'Black'}">{{book.isPremium==true ? 'Premium' : 'Standard'}}</p>
        <div *ngIf="book">
        <button *ngIf="book.isAvailable===true; else notifyme" type="button" style="background-color: #1d6f58;" (click)="onAddToCart(book.id)">Borrow now</button>
        
        <ng-template #notifyme>
          <button class="btn btn-danger" (click)="onAddToCartRed(book.id)">Borrow now</button>
        </ng-template>
      </div>
      <div *ngIf="!onIsInWishlist(book.id); else isthere">
        <button  class="wishbut" style="background-color: #4f9ac9;" type="button" (click)="onAddToWishlist(book.id)">add to wishlist</button>
      </div>
      <ng-template #isthere>
        <button style="background-color:#aa2943">Added to wishlist</button>
      </ng-template>
      </div>
    </div>
  </div>

  
</body>

