<div class="main-area">
    <div class="content-area">
      <div class="header">
        <h1>Manage Books</h1>
        <hr>
      </div>
      <div class="container">
        <div class="form-area">
          <h3>Create a Book</h3>
          <form #booksForm="ngForm" (ngSubmit)="onBookCreate(booksForm.value)">
            
            <label>ID</label>
            <input type="text" name="id" ngModel>

            <label>Title</label>
            <input type="text" name="title" ngModel>
        
            <label>Author</label>
            <input type="text" name="author" ngModel>
        
            <label>Genre</label>
            <input type="text" name="genre" ngModel>
  
            <label>Language</label>
            <input type="text" name="language" ngModel>

            <label>Description</label>
            <input type="text" name="description" ngModel>

            <label>Cover Image Url</label>
            <input type="text" name="coverImageFile" ngModel>

            <label>Rent Count:</label> 
            <input style="width: 40px; margin: 10px;" type="number" name="rentCount" ngModel>

            <label style="padding-bottom: 20px;"> Premium </label>
            <input type="checkbox" style="width: 30px; height: 20px;" name="isPremium" ngModel>

            <label style="padding-bottom: 20px;"> Available </label>
            <input type="checkbox" style="width: 30px; height: 20px;" name="isAvailable" ngModel>
        
            <input type="submit" value="{{editMode ? 'Update Book' : 'Add Book'}}">
          </form>
        </div>
  
        <!--Display product area-->
        <div class="book-display-area">
          <h3>All Books</h3>
          <div
          class="datatable-inner"
          mdbScrollbar
          style="position: relative;"
           >
          <table id="books">
            <tr>
              <th>#</th>
              <th>Title</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
            <tr *ngIf="allBooks.length < 1">
                <td colspan="7"> No books in database</td>
            </tr>
            <tr *ngFor="let book of allBooks; index as i">
              <td>{{i + 1}}</td>
              <td>{{book.title}}</td>
              <td></td>
              <td><button class="btn-details" routerLink="/catalog/books/{{book.id}}">Details</button></td>
              <td><button class="btn-edit" (click)="onBookEdit(book.id)">Edit</button></td>
              <td><button class="btn-delete" (click)="onBookDelete(book.id)">X</button></td>
            </tr>
          </table>
          </div>
          
        </div>
      </div>
    </div>
  </div>