<div class="main-area">
    <div class="content-area">
      <div class="header">
        <h1>Manage Books</h1>
        <hr>
      </div>
      <div class="container">
        <!--Add product form-->
        <div class="form-area">
          <h3>Create a Book</h3>
          <form #booksForm="ngForm" (ngSubmit)="onBookCreate(booksForm.value)">
            
            <label>Title</label>
            <input type="text" name="title" ngModel>
        
            <label>Author</label>
            <input type="text" name="author" ngModel>
        
            <label>Genre</label>
            <input type="text" name="genre" ngModel>
  
            <label>Language</label>
            <input type="text" name="language" ngModel>

            <label>Description</label>
            <input type="text" name="description" ngModel>

            <label>Cover Image Url</label>
            <input type="text" name="coverImageFile" ngModel>

            <label> Premium </label>
            <input type="checkbox" name="isPremium" ngModel>

        
            <input type="submit" value="Add Book">
          </form>
        </div>
  
        <!--Display product area-->
        <div class="product-display-area">
          <h3>All Books</h3>
          <table id="books">
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Author</th>
              <th></th>
            </tr>
            <tr>
              <td>1</td>
              <td>iPhone</td>
              <td>iPhone Pro 11</td>
              <td>$1299</td>
              <td><button class="btn-delete">Delete</button></td>
            </tr>
          </table>
          <hr>
          <div class="action-btn-container">
            <button class="btn-fetch">Fetch Product</button>
            <button class="btn-clear">Clear Product</button>
          </div>
        </div>
      </div>
    </div>
  </div>