.slogan{
    font-weight: 300;
    font-style: bold;
    width: 620px;
    color: #04AA6D;
    margin-left: 70px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: large;
}