.site-image{
    float: left;
    background: transparent;
    margin-left: 350px;
    margin-top: 50px;
}

.text {
    float: left;
    font-weight: 300;
    width: 400px;
    color: #04AA6D;
    text-align: center;
    margin-top: 10px;
    font-size: large;
}

.login-button {
    background: rgb(112, 112, 224);
    color: white;
    margin-left: 120px;
    margin-top: 1px;
    width: 150px;
}

h2{
    font-size: 35px;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948;
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid crimson;
  }