.header{
    width: 1500px;
    height: 280px;
    display: flex;
    background-color: #ffff;
}
.site-image{
    float: left;
    background: transparent;
}

.right {
    float: right;
}

.cont {
    margin-left: 150px;
}

.site-slogan{
    font-weight: 300;
    width: 620px;
    color: #04AA6D;
    margin-left: 70px;
    margin-bottom: 100px;
    margin-top: 90px;
    text-align: center;
    font-size: small;
}

.new-arrivals{
    font-weight: 300;
    width: 300px;
    color: #04AA6D;
    margin-left: 240px;
    text-align: center;
    font-size: large;
}

h2{
    font-size: 45px;
}