<div class="cont">
    
    <div class="site-image">
        <img src="/assets/homeimage.png" width="350" height="280">
    </div>

    <app-about style="float:right; margin-right: 200px;" ></app-about>   

    <div class="site-slogan">
        <h2>Borrow books without leaving your home! </h2>
    </div>

    <div class="new-arrivals">
        <div *ngIf = "appState$ | async as appState">
            <div *ngIf = "!appState.isEmpty(); else loggedout">
                <div *ngIf="appState.roles==='Administrator'; else member">
                    <p style="font-size: 20px;">New arrivals</p>
                </div>
                
                <ng-template #member>
                    <p #member style="font-size: 20px;"> <br> More of authors and genres you liked: </p>
                </ng-template>
            </div>
            
            <ng-template #loggedout>
                <p>New arrivals</p>
            </ng-template>
        </div>
    </div>
</div>