 
    <div class="site-name">
        <h1>Welcome to {{site_name}}</h1>
    </div>
    <div class="topnav">
        <a routerLinkActive="active" [routerLink]="['Home']">Home</a>
        <a routerLinkActive="active" [routerLink]="['Books']">Books</a>
        <a routerLinkActive="active" [routerLink]="['Basket']">Basket</a>
        <a routerLinkActive="active" [routerLink]="['Login']">Login</a>
        <a routerLinkActive="active" [routerLink]="['Register']">Register</a>
        <app-search class="searchbar"></app-search>
    </div>
    



