 <div class="nav-container">
    <div class="site-name">
        <h1>Welcome to {{site_name}}</h1>
    </div>
    <div class="topnav">
        <a routerLinkActive="active" [routerLink]="['Home']">Home</a>
        <a routerLinkActive="active" [routerLink]="['catalog/books']">Books</a>
        <a routerLinkActive="active" [routerLink]="['wishlist']">My wishlist</a>
        <a routerLinkActive="active" [routerLink]="['shopping-cart/cart']">My Basket</a>
        <a routerLinkActive="active" [routerLink]="['Wishlist']">My wishlist</a>
        <a routerLinkActive="active" [routerLink]="['library/items']">My library</a>
        <a routerLinkActive="active" [routerLink]="['ordering/orders']">My orders</a>
        <div class="move-right">
          <a routerLinkActive="active" [routerLink]="['identity/login']">Login</a>
          <a routerLinkActive="active" [routerLink]="['identity/register']">Register</a>
        </div>
    </div>
</div>



