<div id="container">	
	
    <div class="details">
        
        <div *ngIf = "appState$ | async as appState">
            <div *ngIf = "appState.isEmpty(); else not">

        <h1>About<br><br></h1>    
        <p class="information">
        E-library membership lets you borrow books online to read at your home! Become an e-library member,
        order books and we will send them to your home address! When you are done reading, you can just send them back! 
        For a small fee, you can become a premium member and have access to exclusive books from our catalog!    
        <br><br>
        </p>

        <button class="join" (click)="goToPage()">Join e-library now!</button>

            </div>

            <ng-template #not>
                <h1>Most popular from our library:<br><br></h1>    
                <div *ngFor="let book of popularBooks">

                    <div class="book-container">
                        <div class="image-container"><img [src]="book.coverImageFile" alt="" style="max-height: 80px; max-width: 70px;"></div>

                            <ul style="list-style: none;" >
                                <li class="title-container">{{book.title}}</li>
                                <li class="information">{{book.author}}</li>
                                <li class="information" [ngStyle]="{color: book.isPremium===true ? 'Orange' : '#7d7d7d'}">{{book.isPremium==true ? 'Premium' : 'Standard'}}</li>
                                <li><button class="btn" style="background-color: rgb(249, 195, 95); color: white;" routerLink="/catalog/books/{{book.id}}"> Show Details</button></li>

                            </ul>
                    </div>

                </div>
            </ng-template>

        </div>
    </div>
</div>
                
        
    
    
    
    