<div class="shopping-cart" *ngIf = "appState$ | async as appState">
    <div class="title" *ngIf = "!appState.isEmpty()">
      {{appState.userName}}'s Shopping Cart
      <button class="removeall" (click)="onRemoveAll()"> Remove all</button>
    </div>

    <div *ngIf="cart; else empty">
    <div *ngFor="let item of cartItems">
    <div class="item">
      <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
      </div>
   
      <div class="image">
        <img style="width: 80px; height: 100px;" src="{{item.coverImageFile}}" alt="" />
      </div>
   
      <div class="description">
        <span></span>
        <span>{{item.bookAuthor}}</span>
        <span *ngIf="item.isPremium===true else standard" style="color: orange">Premium</span>
        <ng-template #standard>
          <span>Standard</span>
        </ng-template>
      </div>
   
      <p class="booktitle"> {{item.bookTitle}} </p>

      <div style="float: right; margin-left: 90px;" class="quantity">
        <p> Remove from cart 
        <button class="remove-btn" type="button" name="button" (click)="onRemove(item.bookId)">
            X 
        </button>
        </p>
        <p>Save for later
        <button class="wish-btn" type="button" name="button" (click)="onWishList(item.bookId)">
           <img style="width: 25px; height: 25px;" src="/assets/heart.png">
        </button>
        </p>
      </div>
  
    </div> 
</div>
</div>

<ng-template #empty>
  Your cart is empty !
</ng-template>

    <div class="footer" *ngIf="cart">
     <p *ngIf="cart.totalItems===0"> Your cart is empty !</p>
      Total books: {{cart.totalItems}}
      <button style="float: right" class="check" (click)="onCheck()">Checkout</button>
      <button style="float: right" class="back" (click)="goToPage()"> Find more books </button>
    </div>
  </div>