<div class="shopping-cart">
    <!-- Title -->
    <div class="title">
      Shopping Cart
    </div>
   
    <!-- Product #1 -->
    <div class="item">
      <div class="buttons">
        <span class="delete-btn"></span>
        <span class="like-btn"></span>
      </div>
   
      <div class="image">
        <img style="width: 90px; height: 100px;" src="/assets/book_covers/hp1.png" alt="" />
      </div>
   
      <div class="description">
        <span>Naslov</span>
        <span>Autor</span>
        <span>Premium</span>
      </div>
   
      <div class="quantity">
        <button class="plus-btn" type="button" name="button">
          <img src="plus.svg" alt="" />
        </button>
        <input type="text" name="name" value="1">
        <button class="minus-btn" type="button" name="button">
          <img src="minus.svg" alt="" />
        </button>
      </div>
   
      <div class="total-price">$549</div>
    </div> 
  </div>