<div>
    <div class="site-image">
        <img src="/assets/homeimage.png" width="350" height="280">
    </div>
    <div class="identity-text">
        <h2>Login or create account now! </h2>
    </div>
    <button type="button" class="btn btn-primary login-button btn-lg" onclick="window.location='http://localhost:4200/identity/login';"> Login </button>
    <button type="button" class="btn btn-primary register-button btn-lg " onclick="window.location='http://localhost:4200/identity/register';">Register</button>
</div>