<div *ngIf = "appState$ | async as appState">
<div class="book-display-area">
<div *ngIf="!appState.isEmpty()">
<div class="title">
  {{appState.userName}}'s Wishlist
  <button class="btn-delete" (click) ="deleteList()">Delete list</button>
</div>
<div class="datatable-inner"
mdbScrollbar
style="position: center;">
<table id="books">
  <tr>
    <th>#</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr type = "button" class = "btn-add" routerLinkActive="active" [routerLink]="['add-to-list']">Add to wishlist!</tr>
<tr *ngFor="let item of itemList; let i = index">
        <td>{{i+1}}</td>
        <td *ngIf="item">{{item.bookTitle}}</td>
        <td></td>
        <td>
        <button class = "btn btn-danger" (click) = "removeFromWishlist(item.bookId)">Remove</button>
        </td>
        <td></td>
        <td>
        <div *ngIf="!appState.isEmpty()">
        <button *ngIf="item.isAvailable===true; else notifyme" (click)="onAddToCart(item.bookId)" type="button" style="background-color: #1d6f58; position: center;">  Borrow  </button>
        <ng-template #notifyme>
          <button type="button" style="background-color: #a61a1f; float : right;">Not available</button>
        </ng-template>
        </div>
        </td>
</tr>
</table>
</div>
</div>


